@import url('https://fonts.googleapis.com/css2?family=Siemreap&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Siemreap&display=swap');

* {
    box-sizing: border-box;
    font-family: "Siemreap", sans-serif;
    margin: 0;
}

/* body {
    background-image: url(./image/rtdc-small.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-attachment: fixed;
} */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {

    .cont-right {
        display: none;
    }

    .small-device {
        display: block;
    }

    .container {
        padding: 10px 15px;
        display: flex;
        align-items: center;
        background-color: white;
    }
   

    header .cont-left {
        width: 100%;
        /* background-color: aqua; */
        display: flex;
        align-items: center;
    }
    header .cont-left img {
        width: 15%;
    }
    header span {
        margin-left: 25px;
        display: inline-block;
        color: #213E99;
        font-size: 15px;
        font-weight: 600;
    }
    .overlay {
        width: 75%;
        height: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.993);
        display: none;
        transition: 0.5s;
    }
    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 15px;
        color: #818181;
        /* display: block; */
        transition: 0.3s;
    }
    .overlay .closebtn {
        position: absolute;
        top: 5px;
        right: 20px;
        font-size: 40px;
    }
    .overlay .navbar {
        overflow: hidden;
        background-color: #e9edf278;
        width: 90%;
        margin: 5%;
        display: grid;
        border: 2px solid #e8f4ff80;
        border-radius: 5px;

    }
    .overlay .img {
        width: 100%;
        display: block;
        /* background-color: #213E99; */
    }
    .overlay .img img{
        width: 20%;
        margin-left: 35%;
    }
    .overlay .navbar a {
        float: left;
        font-size: 15px;
        color: black;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    .overlay .subnav {
        float: left;
        overflow: hidden;
    }
    
    .overlay .subnav .subnavbtn {
        font-size: 15px;
        width: 100%;
        border: none;
        outline: none;
        color: black;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
        display: flex;
        justify-content: space-between;
    }
    
    .navbar a:hover,
    .subnav:hover .subnavbtn {
        background-color: #ddddddd0;
        border-radius: 5px;
        width: 100%;
        text-align: left;
    }
    
    .subnav-content {
        display: none;
        position: absolute;
        /* left: 45%; */
        background-color: white;
        min-width: 89%;
        z-index: 1;
        border-radius: 5px;
        border: 1px solid #7071735f;
    }
    
    .subnav-content a {
        float: left;
        color: black;
        text-decoration: none;
    }
    
    .subnav-content a:hover {
        background-color: #eee;
        color: black;
        border-radius: 5px;
    }
    .book-App {
        border: 1px solid #7895f554;
        border-radius: 5px;
        background-color: #213E99;
        color: white;
        font-size: 16px;
        padding: 2%;
        width: 90%;
        margin: 0 5%;
        cursor: pointer;
    }
    .small-device .language {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        margin-top: 3%;
    }
    
    .small-device .language img {
        width: 30px;
        height: 18px;
        margin: 0 5px;
        object-fit: cover;
    }
    .footer{
        display: none;
    }
    footer .footer1 a {
        text-decoration: none;
        color: #ddd;
        /* padding: 0 30px; */
        font-size: 13px;
    }
    
    footer .footer1 {
        width: 100%;
        height: 40px;
        background-color: hsl(226, 65%, 36%);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position: fixed;
        bottom: 0;
    }
    section .image {
        width: 100%;
        height: 250px;
        background-color: #213E99;
        position: relative;

    }

    section .image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 20%;
    }

    section .description {
        position: absolute;
        top: 33%;
        left: 8%;
        font-size: 25px;
        font-weight: 600;
        color: #213E99;
    }

    .ourteam {
        width: 90%;
        height: auto;
        margin: auto;
        /* background-color: #213E99; */
        display: block;
        justify-content: space-between;
        margin-bottom: 10%;
        margin-top: 5%;
    }

    .whoarewe {
        width: 100%;
        height: 100%;
        /* background-color: aqua; */
    }

    .whoarewe h2 {
        color: #213E99;
    }

    .member {
        width: 100%;
        display: block;
       
        /* background: #213E99; */
    }
    .member-item {
        width: 100%;
        height: 220px;
        /* background-color: #818181; */
        padding: 20px;
        align-items: center;
        display: block;
        text-align: center;
    }

    .member-item img {
        width: 120px;
        height: 55%;
        background-color: rgba(227, 228, 239, 0.492);
        border-radius: 4px;
        cursor: pointer;
    }
    .member-item h4{
        color: #213E99;
    }
    .member-item p {
        color: #818181;
        font-size: 14px;
    }
    .share {
        width: 100%;
        height: 100%;
        /* background-color: #e33434; */
    }

    .share .sharemedia .icon {
        display: flex;
    }

    .share .sharemedia .icon img {
        width: 6%;
        padding: 1%;
    }

    .ourfacilities {
        width: 100%;
        height: 300px;
        /* background-color: #213E99; */
        padding: 3%;
        margin-top: 2%;
        box-shadow: 0 2px 5px #abb9e829;
        border-radius: 5px;
    }

    .ourfacilities a {
        border-radius: 5px;
    }

    .ourfacilities img {
        width: 100%;
        height: 90%;
        /* margin: 3%; */
        border-radius: 5px;
        object-fit: cover;
    }

    .recentnews {
        padding: 3%;
        margin-top: 4%;
        box-shadow: 0 2px 5px #abb9e829;
        border-radius: 5px;
    }

    .recentnews a .boxx {
        width: 100%;
        height: 100px;
        /* background-color: #213E99; */
        /* margin-top: 3%; */
        display: flex;
        justify-content: space-between;
    }

    .recentnews a .imagenews {
        width: 23%;
        height: 100%;
    }
    .recentnews a .text {
        width: 75%;
        height: 100%;
        display: block;
    }
    .recentnews a .imagenews img {
        max-width: 100%;
        max-height: 90%;
        object-fit: cover;
        border-radius: 5px;
        margin: 5%;
        /* margin-left: 5%; */
    }

    .recentnews a {
        text-decoration: none;
    }
    .intro p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 20px;
        color: #213E99;
    }
    .detail pre {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 15px;
        color: black;
    }
    .followpage{
        width: 70%;
        height: 160px;
        background-color: #213E99;
        margin-top: 10%;
        position: relative;
    }
    .followpage .pageimage{
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .followpage .onpage{
        width: 100%;
        height: 60%;
        position: absolute;
        background-image: linear-gradient(to top,rgba(78, 77, 77, 0),rgba(62, 62, 62, 0.225),rgba(0, 0, 0, 0.917) 100%);
        display: flex;
        padding: 3%;
        color: white;
    }
    .followpage .pageimage img{
        width: 100%;
        height: 100%;
        object-fit:cover;
        position: absolute;
    }
    .onpageimg{
        width: 25%;
        height: 90%;
    }
    .onpageimg img{
        width: 90%;
        height: 100%;
        object-fit: cover;
        border: 2px solid white;
    }
    .onpage .onpagetext{
        margin-left: 2%;
    }
    .onpage .onpagetext h2{
        cursor: pointer;
        font-size: 15px;
    }
    .onpage .onpagetext p{
        font-size: 12px;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    header .container {
        width: 100%;
        height:  188.69px;
        background-color: rgb(255, 255, 255);
        display: block;
        justify-content: space-evenly;
        padding: 10px 60px;
    }
    
    header .cont-left {
        width: 306.42px;
        height: 79.69px;
        /* background-color: aqua; */
        display: flex;
        align-items: center;
        color: #213E99;
        font-size: 14px;
        font-weight: 600;
    }
    header .cont-left img {
        max-width: 30%;
    }
    
    header span {
        margin-left: 25px;
        display: inline-block;
       
    }
    
    header .cont-right {
        width: 100%;
        font-size: 10px;
        height: 90px;
        /* background-color: blueviolet; */
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
    }
    .language {
        width: 100%;
        height: 35%;
        display:flex;
        justify-content: end;
        align-items: center;
    }
    
    .language img {
        width: 30px;
        height: 18px;
        margin: 0 5px;
        object-fit: cover;
    }
    
    .navbar {
        /* position: relative; */
        overflow: hidden;
        /* background-color: #e19a9a; */
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* margin: 20px 0; */
    }
    
    .navbar a {
        float: left;
        /* text-align: center; */
        font-size: 15px;
        color: black;
        text-decoration: none;
        padding: 5px 5px;
    }
    .subnav {
        float: left;
        overflow: hidden;
        height: 70%;
        /* background-color: #213E99; */
        
    }
    .subnav li{
        cursor: pointer;
        list-style: none;
        padding: 0 15px;
        /* width: 200px; */
        height: 100%;
    }
    
    .subnav .subnavbtn {
        align-items: center;
        justify-content: center;
        display: flex;
        font-size: 15px;
        border: none;
        outline: none;
        color: black;
        /* padding: 5px 50px; */
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }
    .navbar a:hover,
    .subnav:hover .subnavbtn {
        background-color: #e9f1f9;
        border-radius: 5px;
        /* padding: 10px 15px; */
    }
    
    .subnav-content {
        display: none;
        position: absolute;
        left: 5%;
        background-color: white;
        max-width:55%;
        z-index: 1;
        border-radius: 5px;
        border: 1px solid #7071735f;
        padding: 10px;
        box-shadow: 0px 3px 3px 3px #b1b1b147;
    }
    
    .subnav-content a {
        float: left;
        color: black;
        text-decoration: none;
        padding: 10px;
    }
    .subnav-content a p{
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        color: #818181;
        font-size: 13px;
    }
    .subnav-content a:hover {
        background-color: #eee;
        color: black;
        border-radius: 5px;
    }
    .subnav:hover #service {
        display: grid;
        grid-template-columns: repeat(3,minmax(0,1fr));
        transition: 0.3s;
    }
    
    .subnav:hover #about {
        display: grid;
        grid-template-columns: repeat(1,minmax(0,1fr));
        transition: 0.3s;
    }
    
    .subnav:hover #technology {
        display: grid;
        grid-template-columns: repeat(2,minmax(0,1fr));
        transition: 0.3s;
    }
    
    .book-App {
        border: 1px solid #213d9954;  
        border-radius: 5px;
        background-color: white;
        font-size: 15px;
        padding: 5px 5px;
        margin: 0;
    }
    
    .book-App:hover {
        background-color: #89a3f82e;
        border: 1px solid #89a3f82e;
    }
    footer .footer a {
        text-decoration: none;
        color: #ddd;
        padding: 0 30px;
    }
    
    footer .footer {
        width: 100%;
        height: 40px;
        background-color: hsl(226, 65%, 36%);
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom: 0;
    }
    
    footer .footer {
        display: none;
    }
    
    .small-device,
    .footer1 {
        display: none;
    }

    section .image {
        width: 100%;
        height: 250px;
        background-color: #213E99;
        position: relative;

    }

    section .image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 25%;
    }

    section .description {
        position: absolute;
        top: 33%;
        left: 8%;
        font-size: 25px;
        font-weight: 600;
        color: #213E99;
    }

    .ourteam {
        max-width: 1200px;
        height: auto;
        margin: auto;
        /* background-color: #213E99; */
        display: block;
        justify-content: space-evenly;
        margin-bottom: 10%;
        margin-top: 5%;
    }

    .whoarewe {
        width: 100%;
        height: 100%;
        /* background-color: aqua; */
    }

    .whoarewe h2 {
        color: #213E99;
    }

    .member {
        /* width: 90%; */
        display: grid;
        /* gap: 10px; */
        /* background: #213E99; */
        padding: 10px;
        grid-template-areas: 'first-member first-member first-member first-member'
            'second-member second-member third-member third-member';
    }

    .member-item {
        width: 100%;
        height: 220px;
        /* background-color: #818181; */
        padding: 20px;
        align-items: center;
        display: block;
        text-align: center;

    }
    .member-item p {
        color: #818181;
        font-size: 14px;
    }

    .member-item h4 {
        font-size: 15px;
        color: #213E99;
    }

    .member-item img {
        width: 110px;
        height: 55%;
        background-color: rgba(227, 228, 239, 0.492);
        border-radius: 4px;
        cursor: pointer;
    }

    .item1 {
        width: 100%;
        grid-area: first-member;
    }

    .item1 img {
        width: 15%;
        height: 60%;
    }

    .item2 img {
        width: 30%;

    }

    .item3 img {
        width: 30%;

    }

    .item2 {
        width: 100%;
        grid-area: second-member;
    }

    .item3 {
        width: 100%;
        grid-area: third-member;
    }

    .share {
        width: 100%;
        height: 100%;
        /* background-color: #e33434; */
    }

    .share .sharemedia .icon {
        display: flex;
    }

    .share .sharemedia .icon img {
        width: 6%;
        padding: 1%;
    }

    .ourfacilities {
        width: 100%;
        height: 300px;
        /* background-color: #213E99; */
        padding: 3%;
        margin-top: 2%;
        box-shadow: 0 2px 5px #abb9e829;
        border-radius: 5px;
    }

    .ourfacilities a {
        border-radius: 5px;
    }

    .ourfacilities img {
        width: 100%;
        height: 90%;
        /* margin: 3%; */
        border-radius: 5px;
        object-fit: cover;
    }

    .recentnews {
        padding: 3%;
        margin-top: 4%;
        box-shadow: 0 2px 5px #abb9e829;
        border-radius: 5px;
    }

    .recentnews a .boxx {
        width: 100%;
        height: 100px;
        /* background-color: #213E99; */
        /* margin-top: 3%; */
        display: flex;
        justify-content: space-between;
    }

    .recentnews a .imagenews {
        width: 15%;
        height: 100%;
    }
    .recentnews a .text {
        width: 82%;
        height: 100%;
        display: block;
    }
    .recentnews a .imagenews img {
        width: 95%;
        height: 90%;
        object-fit: cover;
        border-radius: 5px;
        margin: 5%;
    }

    .recentnews a {
        text-decoration: none;
    }
    .intro p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 20px;
        color: #213E99;
    }
    .detail pre {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 15px;
        color: black;
    }
    .followpage{
        width: 50%;
        height: 160px;
        background-color: #213E99;
        margin-top: 10%;
        position: relative;
    }
    .followpage .pageimage{
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .followpage .onpage{
        width: 100%;
        height: 60%;
        position: absolute;
        background-image: linear-gradient(to top,rgba(78, 77, 77, 0),rgba(62, 62, 62, 0.225),rgba(0, 0, 0, 0.917) 100%);
        display: flex;
        padding: 3%;
        color: white;
    }
    .followpage .pageimage img{
        width: 100%;
        height: 100%;
        object-fit:cover;
        position: absolute;
    }
    .onpageimg{
        width: 25%;
        height: 90%;
    }
    .onpageimg img{
        width: 90%;
        height: 100%;
        object-fit: cover;
        border: 2px solid white;
    }
    .onpage .onpagetext{
        margin-left: 2%;
    }
    .onpage .onpagetext h2{
        cursor: pointer;
        font-size: 15px;
    }
    .onpage .onpagetext p{
        font-size: 12px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1200px) {

    header .container {
        width: 100%;
        height: 110px;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: space-evenly;
        padding: 10px 60px;
    }
    
    header .cont-left {
        width: 306.42px;
        height: 79.69px;
        /* background-color: aqua; */
        display: flex;
        align-items: center;
        color: #213E99;
        font-size: 14px;
        font-weight: 600;
    }
    header .cont-left img {
        max-width: 30%;
    }
    
    header span {
        margin-left: 25px;
        display: inline-block;
       
    }
    
    header .cont-right {
        width: 850px;
        height: 90px;
        /* background-color: blueviolet; */
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
    }
    .language {
        width: 100%;
        height: 35%;
        display:flex;
        justify-content: end;
        align-items: center;
    }
    
    .language img {
        width: 30px;
        height: 18px;
        margin: 0 5px;
        object-fit: cover;
    }
    
    .navbar {
        /* position: relative; */
        overflow: hidden;
        /* background-color: #e19a9a; */
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: right;
        /* margin: 20px 0; */
    }
    
    .navbar a {
        float: left;
        /* text-align: center; */
        font-size: 15px;
        color: black;
        text-decoration: none;
        padding: 5px 25px;
    }
    .subnav {
        float: left;
        overflow: hidden;
        height: 70%;
        /* background-color: #213E99; */
        
    }
    .subnav li{
        cursor: pointer;
        list-style: none;
        padding: 0 15px;
        /* width: 200px; */
        height: 100%;
    }
    
    .subnav .subnavbtn {
        align-items: center;
        justify-content: center;
        display: flex;
        font-size: 15px;
        border: none;
        outline: none;
        color: black;
        /* padding: 5px 50px; */
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }
    .navbar a:hover,
    .subnav:hover .subnavbtn {
        background-color: #e9f1f9;
        border-radius: 5px;
        /* padding: 10px 15px; */
    }
    
    .subnav-content {
        display: none;
        position: absolute;
        left: 35%;
        background-color: white;
        max-width:55%;
        z-index: 1;
        border-radius: 5px;
        border: 1px solid #7071735f;
        padding: 10px;
        box-shadow: 0px 3px 3px 3px #b1b1b147;
    }
    
    .subnav-content a {
        float: left;
        color: black;
        text-decoration: none;
        padding: 10px;
    }
    .subnav-content a p{
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        color: #818181;
        font-size: 13px;
    }
    .subnav-content a:hover {
        background-color: #eee;
        color: black;
        border-radius: 5px;
    }
    .subnav:hover #service {
        display: grid;
        grid-template-columns: repeat(3,minmax(0,1fr));
        transition: 0.3s;
    }
    
    .subnav:hover #about {
        display: grid;
        grid-template-columns: repeat(1,minmax(0,1fr));
        transition: 0.3s;
    }
    
    .subnav:hover #technology {
        display: grid;
        grid-template-columns: repeat(2,minmax(0,1fr));
        transition: 0.3s;
    }
    
    .book-App {
        border: 1px solid #213d9954;  
        border-radius: 5px;
        background-color: white;
        font-size: 15px;
        padding: 5px 25px;
        margin: 0;
    }
    
    .book-App:hover {
        background-color: #89a3f82e;
        border: 1px solid #89a3f82e;
    }
    footer .footer a {
        text-decoration: none;
        color: #ddd;
        padding: 0 30px;
    }
    
    footer .footer {
        width: 100%;
        height: 40px;
        background-color: hsl(226, 65%, 36%);
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom: 0;
    }
    
    .small-device,
    .footer1 {
        display: none;
    }

    section .image {
        width: 100%;
        height: 250px;
        background-color: #213E99;
        position: relative;

    }

    section .image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    section .description {
        position: absolute;
        top: 33%;
        left: 8%;
        font-size: 25px;
        font-weight: 600;
        color: #213E99;
    }

    .ourteam {
        width: 90%;
        height: auto;
        margin: auto;
        /* background-color: #213E99; */
        display: flex;
        justify-content: space-between;
        margin-bottom: 10%;
        margin-top: 5%;
    }

    .whoarewe {
        width: 73%;
        height: 100%;
        /* background-color: aqua; */
    }

    .whoarewe h2 {
        color: #213E99;
    }

    .member {
        display: grid;
        /* gap: 10px; */
        /* background: #213E99; */
        padding: 10px;
        grid-template-areas: 'first-member first-member first-member first-member'
            'second-member second-member third-member third-member';
    }

    .member-item {
        width: 100%;
        height: 220px;
        /* background-color: #818181; */
        padding: 20px;
        align-items: center;
        display: block;
        text-align: center;

    }

    .member-item p {
        color: #818181;
        font-size: 14px;
    }

    .member-item h4 {
        font-size: 15px;
        color: #213E99;
    }

    .member-item img {
        max-width: 120px;
        height: 55%;
        background-color: rgba(227, 228, 239, 0.492);
        border-radius: 4px;
        object-fit: cover;
        cursor: pointer;
    }

    .item1 {
        width: 100%;
        grid-area: first-member;
    }

    .item1 img {
        width: 15%;
        height: 60%;
    }

    .item2 img {
        width: 30%;

    }

    .item3 img {
        width: 30%;

    }

    .item2 {
        width: 100%;
        grid-area: second-member;
    }

    .item3 {
        width: 100%;
        grid-area: third-member;
    }

    .share {
        width: 23%;
        height: 100%;
        /* background-color: #e33434; */
    }

    .share .sharemedia .icon {
        display: flex;
    }

    .share .sharemedia .icon img {
        width: 13%;
        padding: 1%;
    }

    .ourfacilities {
        width: 100%;
        height: 250px;
        /* background-color: #213E99; */
        padding: 3%;
        margin-top: 4%;
        box-shadow: 0 2px 5px #abb9e829;
        border-radius: 5px;
    }

    .ourfacilities a {
        border-radius: 5px;
    }

    .ourfacilities img {
        width: 100%;
        height: 80%;
        /* margin: 3%; */
        border-radius: 5px;
        object-fit: cover;
    }

    .recentnews {
        padding: 3%;
        margin-top: 4%;
        box-shadow: 0 2px 5px #abb9e829;
        border-radius: 5px;
    }

    .recentnews a .boxx {
        width: 100%;
        height: 70px;
        /* background-color: #213E99; */
        margin-top: 3%;
        display: flex;
        justify-content: space-between;
    }

    .recentnews a .imagenews {
        width: 28%;
        height: 100%;
    }
    .recentnews a .text {
        width: 70%;
        height: 100%;
        display: block;
    }
    .recentnews a .imagenews img {
        width: 95%;
        height: 90%;
        object-fit: cover;
        border-radius: 5px;
        margin: 5%;
    }

    .recentnews a {
        text-decoration: none;
    }
    .intro p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
        color: #213E99;
    }
    .detail pre {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 10px;
        color: black;
    }
    .followpage{
        width: 100%;
        height: 160px;
        background-color: #213E99;
        margin-top: 10%;
        position: relative;
    }
    .followpage .pageimage{
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .followpage .onpage{
        width: 100%;
        height: 40%;
        position: absolute;
        background-image: linear-gradient(to top,rgba(78, 77, 77, 0),rgba(62, 62, 62, 0.225),rgba(0, 0, 0, 0.917) 100%);
        display: flex;
        padding: 3%;
        color: white;
    }
    .followpage .pageimage img{
        width: 100%;
        height: 100%;
        object-fit:cover;
        position: absolute;
    }
    .onpageimg{
        width: 25%;
        height: 90%;
    }
    .onpageimg img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 2px solid white;
    }
    .onpage .onpagetext{
        margin-left: 2%;
    }
    .onpage .onpagetext h2{
        cursor: pointer;
        font-size: 15px;
    }
    .onpage .onpagetext p{
        font-size: 12px;
    }
}