@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
*::-webkit-scrollbar {
    display: none;
}
*{
    -ms-overflow-style: none;/* IE and Edge */
    scrollbar-width: none;/* Firefox */
}
.dropbtn i {
    transition: rotate .3s;
    font-size: 10px;
    padding: 4px;
}
.dropbtn:hover i {
    rotate: 180deg;
    transition: 0.2s;
}
span {
    /* margin-left: 25px; */
    display: inline-block;
    font-family: "Hanuman", serif;
    font-weight: 500;
    font-style: normal;
}
.whoarewe h3{
    color: #213E99;
    padding: 20px 0;
}
.mySlide img {
    vertical-align: middle;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container1 {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.3;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

  .text-dtail ul li{
    list-style-type: circle;
    list-style: none;
  }
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
    .cont-right {
        display: none;
    }
    .header1 .container {
        padding: 10px 15px;
        display: none;
        align-items: center;
        background-color: white;
    }

    .header {
        /* position: absolute; */
        width: 100%;
        left: 0;
        top: 0;
        z-index: 99;
        padding: 10px;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    a {  
        text-decoration: none;
    }
    .header-main {
        background-color: #ffffff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-radius: 4px;
    }
    .header .logo a {
        font-size: 30px;
        text-transform: capitalize;
        color: #e91e63;
    }
    .header .logo{
        width: 100%;
        /* height: 100px; */
        display: flex;
        align-items: center;
    }
    .header .logo img{
        width: 16%;
        margin-right: 2%;
    }
    .header .logo .name{
        color: #213E99;
        font-weight: bolder;
    }
    .header .nav-menu {
        padding: 0 20px;
    }
    .header .menu{
        border: 1px solid rgba(176, 178, 181, 0.2);
        border-radius: 10px;
        background-color:rgba(226, 235, 243, 0.192);
        margin: 15px;
        padding: 5px;
        
    }
    .header .menu>.menu-item {
        display: inline-block;
        margin-left: 30px;
        position: relative;
    }
    
    .header .menu>.menu-item>a {
        display: block;
        padding: 6px 15px;
        font-size: 16px;
        color: #000000;
        text-transform: capitalize;
        transition: all 0.3s ease;
    }
    
    .header .menu>.menu-item>a .fa-angle-down {
        display: inline-block;
        height: 12px;
        width: 12px;
        position: relative;
        margin-left: 5px;
        pointer-events: none;
    }
    .header .menu>.menu-item>a .fa-angle-down:after {
        transform: translate(-50%, -50%) rotate(-90deg);
    }
    
    .header .menu>.menu-item>.sub-menu>.menu-item>a:hover{
        /* color: blue; */
        background-color: #ced6e1a6;
        border-radius: 5px;
        /* margin: 0 10px; */
    
    }
    .header .menu>.menu-item:hover>a {
        color: #213E99;
    }
    
    .header .menu>.menu-item>.sub-menu {
        transform: translateY(10px);
        transition: all 0.3s ease;
    }
    
    .header .menu>.menu-item>.sub-menu>.menu-item {
        display: block;
    }
    .header .menu>.menu-item>.sub-menu>.menu-item>a {
        display: block;
        padding: 3px ;
        font-size: 16px;
        color: #000000;
        transition: all 0.3s ease;
        text-transform: capitalize;
    }
    
    .header .open-nav-menu {
        height: 30px;
        width: 30px;
        display: none;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    
    .header .open-nav-menu span {
        display: block;
        height: 3px;
        width: 24px;
        background-color: #000000;
        position: relative;
    }
    
    .header .open-nav-menu span:before,
    .header .open-nav-menu span:after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000000;
        box-sizing: border-box;
    }
    
    .header .open-nav-menu span:before {
        top: -8px;
    }
    
    .header .open-nav-menu span:after {
        top: 8px;
    }
    
    .header .close-nav-menu {
        height: 100px;
        width: 100%;
        cursor: pointer;
        display: block;
    }
    .header .close-icon{
        width: 90%;
        height: 20%;
        display: block;
        text-align: end;
    }
    .header .close-icon i:hover{
        color: #213E99;
    }
    .header .close-nav-menu .img{
        width: 100%;
        height: 80%;
        /* background-color: #818181; */
        display: block;
        text-align: center;
    }
    .header .close-nav-menu .img img{
        width: 25%;
    }

    .header .close-nav-menu i{
        font-size: 30px;
        color: #5073e3;
    }
    .header .close-nav-menu img{
        width: 20px;
        margin-top: 100;
    }
    .header .menu-overlay {
        position: fixed;
        z-index: 999;
        background-color: rgba(188, 188, 188, 0.334);
        backdrop-filter: blur(3px);
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s ease;
    }
    
    .book-App {
        border: 1px solid #7895f554;
        border-radius: 5px;
        background-color: #213E99;
        color: white;
        font-size: 16px;
        padding: 2%;
        width: 90%;
        margin: 0 5%;
        cursor: pointer;
    }
    .nav-menu .language {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        margin-top: 3%;
    }
    
    .nav-menu .language img {
        width: 30px;
        height: 18px;
        margin: 0 5px;
        object-fit: cover;
    }
    /* responsive */
    
    
        .header .menu-overlay.active {
            visibility: visible;
            opacity: 1;
        }
    
        .header .nav-menu {
            position: fixed;
            right: -380px;
            visibility: hidden;
            min-width: 330px;
            height: 100%;
            top: 0;
            overflow-y: auto;
            background-color: #ffffff;
            z-index: 1000;
            padding: 15px 0;
            transition: all 0.5s ease;
        }
        .header .nav-menu.open {
            visibility: visible;
            right: 0px;
        }
        .header .menu>.menu-item {
            display: block;
            margin: 0;
        }
        .header .menu>.menu-item-has-children>a {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    
        .header .menu>.menu-item>a {
            color: #000000;
        }
        .header .menu>.menu-item-has-children.active>a .plus:after {
            transform: translate(-50%, -50%) rotate(0deg);
        }
        .header .menu>.menu-item>.sub-menu {
            width: 100%;
            position: relative;
            opacity: 1;
            visibility: visible;
            border: none;
            box-shadow: none;
            transform: translateY(0px);
            padding: 0px;
            left: auto;
            top: auto;
            max-height: 0;
            overflow: hidden;
            background-color: rgb(255, 255, 255);
            border-radius: 5px;
        }
    
        .header .menu>.menu-item>.sub-menu>.menu-item>a {
            /* padding: 10px; */
            color: #000000;
            margin: 4px 15px;
            padding: 5px 15px;
            /* border-radius: 5px; */
            /* border-bottom: 1px solid #333333; */
        }
        .header .menu>.menu-item>.sub-menu>:hover.menu-item> a{
            background-color: #b4b4b447;
        }
        .header .open-nav-menu {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }

    
    section .telegram {
        margin-top: 270px;
    }
    
    
    
    .footer{
        display: none;
    }
    footer .footer1 a {
        text-decoration: none;
        color: #ddd;
        /* padding: 0 30px; */
        font-size: 13px;
    }
    
    footer .footer1 {
        width: 100%;
        height: 40px;
        background-color: hsl(226, 65%, 36%);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position: fixed;
        bottom: 0;
    }
    section .image {
        width: 100%;
        height: 250px;
        background-color: #213E99;
        position: relative;

    }

    section .image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 20%;
    }

    section .description {
        position: absolute;
        top: 33%;
        left: 8%;
        font-size: 25px;
        font-weight: 600;
        color: #213E99;
    }

    .ourteam {
        width: 90%;
        height: auto;
        margin: auto;
        /* background-color: #213E99; */
        display: block;
        justify-content: space-between;
        margin-bottom: 10%;
        margin-top: 5%;
    }

    .whoarewe {
        width: 100%;
        height: 100%;
        /* background-color: aqua; */
    }

    .share {
        width: 100%;
        height: 100%;
        /* background-color: #e33434; */
        padding: 5% 0;
    }

    .share .sharemedia .icon {
        display: flex;
    }

    .share .sharemedia .icon img {
        width: 6%;
        padding: 1%;
    }

    .ourfacilities {
        width: 100%;
        height: 300px;
        /* background-color: #213E99; */
        padding: 3%;
        margin-top: 2%;
        box-shadow: 0 2px 5px #abb9e829;
        border-radius: 5px;
    }

    .ourfacilities a {
        border-radius: 5px;
    }

    .ourfacilities img {
        width: 100%;
        height: 90%;
        /* margin: 3%; */
        border-radius: 5px;
        object-fit: cover;
    }

    .recentnews {
        padding: 3%;
        margin-top: 4%;
        box-shadow: 0 2px 5px #abb9e829;
        border-radius: 5px;
    }

    .recentnews a .boxx {
        width: 100%;
        height: 70px;
        /* background-color: #213E99; */
        margin: 3% 0 0.5% 0;
        display: flex;
        /* border-top: 1px solid black; */
        justify-content: space-between;
    }
    .recentnews a .imagenews {
        width: 60px;
        /* background-color: #5073e3; */
        height: 90%;
    }

    .recentnews a .text {
        width: 85%;
        height: 100%;
        display: block;
        margin-top: 2%;
    }

    .recentnews a .imagenews img {
        width: 90%;
        height: 90%;
        object-fit: cover;
        border-radius: 5px;
        /* margin: 5%; */
        /* margin-left: 5%; */
    }

    .recentnews a {
        text-decoration: none;
    }
    .intro p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
        color: #213E99;
    }

    .detail pre {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 11px;
        color: rgb(141, 140, 140);
    }

    .followpage{
        width: 70%;
        height: 160px;
        background-color: #213E99;
        margin-top: 10%;
        position: relative;
    }
    .followpage .pageimage{
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .followpage .onpage{
        width: 100%;
        height: 60%;
        position: absolute;
        background-image: linear-gradient(to top,rgba(78, 77, 77, 0),rgba(62, 62, 62, 0.225),rgba(0, 0, 0, 0.917) 100%);
        display: flex;
        padding: 3%;
        color: white;
    }
    .followpage .pageimage img{
        width: 100%;
        height: 100%;
        object-fit:cover;
        position: absolute;
    }
    .onpageimg{
        width: 80px;
        height: 90%;
    }
    .onpageimg img{
        width: 90%;
        height: 100%;
        object-fit: cover;
        border: 2px solid white;
    }
    .onpage .onpagetext{
        margin-left: 2%;
    }
    .onpage .onpagetext h2{
        cursor: pointer;
        font-size: 15px;
    }
    .onpage .onpagetext p{
        font-size: 12px;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    section .telegram {
        margin-top: 390px;
    }
    
    
    .header1 .container {
        width: 100%;
        height: 170px;
        background-color: rgb(255, 255, 255);
        display: block;
        justify-content: space-evenly;
        padding: 10px 60px;
        position: relative;
    }
    .header .container{
        display: none;
    }
    .cont-left {
        width: 306.42px;
        height: 79.69px;
        /* background-color: aqua; */
        display: flex;
        align-items: center;
        color: #213E99;
        font-size: 14px;
        /* font-weight: 600; */
    }

    .cont-left img {
        max-width: 30%;
    }

    span {
        margin-left: 25px;
        display: inline-block;
        font-family: "Hanuman", serif;
        font-weight: 500;
        font-style: normal;
    }
    .language {
        width: 100%;
        height: 35%;
        display: flex;
        justify-content: end;
        /* background-color: #e9f1f9; */
        /* align-items:start; */
    }

    .language img {
        width: 30px;
        height: 18px;
        margin: 0 5px;
        object-fit: cover;
    }

    .cont-right {
        max-width: 850px;
        display: block;
        /* background-color: #818181; */
    }

    .navbar {
        display: flex;
        justify-content: space-evenly;
        /* background-color: #213E99; */
        align-items:center;
        margin-top: 10px;
    }

    .navbar .home {
        padding: 8px 10px;
        text-decoration: none;
        color: black;
        font-size: 14px;

    }

    .navbar .home:hover {
        background-color: #e9f1f9;
        border-radius: 5px;
        padding: 8px 10px;
    }

    .dropbtn {
        align-items: center;
        justify-content: center;
        display: flex;
        border: none;
        font-size: 14px;
        color: black;
        padding: 8px 10px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }

    .drop {
        width: 100%;
        height: 20px;
        background-color: none;
        position: absolute;
    }

    .dropdown-content a p {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        color: #818181;
        font-size: 13px;
    }


    .book-App {
        border: 1px solid #213d9954;
        border-radius: 5px;
        background-color: white;
        font-size: 13px;
        padding: 8px 10px;
        margin-left: 10px;
    }

    .book-App:hover {
        background-color: #89a3f82e;
        border: 1px solid #89a3f82e;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        padding: 5px;
        margin-top: 3%;
        left: 0%;
        display: none;
        position: absolute;
        background-color: #ffffff;
        min-width: 230px;
        box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        border-radius: 5px;
        border: 1px solid rgba(154, 218, 247, 0.299);
    }

    .dropdown0 {
        left: -70%;
    }

    .dropdown1 {
        left: -180%;
        min-width: 640px;
    }

    .dropdown2 {
        left: -228%;
        min-width: 600px;
    }

    .dropdown-content a {
        color: black;
        font-size: 14px;
        padding: 8px 10px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #a6a5a532;
        /* background-color: red; */
        border-radius: 5px;
        padding: 8px 10px;
        color: rgb(0, 0, 0);
    }

    .dropdown:hover .dropdown-content {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        transition: 0.3s;
        padding: 9%;
    }

    .dropdown:hover .dropdown1 {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        transition: 0.3s;
    }

    .dropdown:hover .dropdown2 {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        transition: 0.3s;
    }

    .dropdown:hover .dropbtn {
        background-color: #e9f1f9;
        border-radius: 5px;
        padding: 8px 10px;
    }

    
    
    footer .footer a {
        text-decoration: none;
        color: #ddd;
        padding: 0 30px;
    }
    
    footer .footer {
        width: 100%;
        height: 40px;
        background-color: hsl(226, 65%, 36%);
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom: 0;
    }
    
    footer .footer {
        display: none;
    }
    
    .small-device,
    .footer1 {
        display: none;
    }

    section .image {
        width: 100%;
        height: 250px;
        background-color: #213E99;
        position: relative;

    }

    section .image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 25%;
    }

    section .description {
        position: absolute;
        top: 33%;
        left: 8%;
        font-size: 25px;
        font-weight: 600;
        color: #213E99;
    }

    .ourteam {
        width: 90%;
        height: auto;
        margin: auto;
        /* background-color: #213E99; */
        display: block;
        justify-content: space-between;
        margin-bottom: 10%;
        margin-top: 5%;
    }

    .whoarewe {
        width: 100%;
        height: 100%;
        /* background-color: aqua; */
    }

    .whoarewe h2 {
        color: #213E99;
    }



    .share {
        width: 100%;
        height: 100%;
        /* background-color: #e33434; */
        margin-top: 5%;
    }

    .share .sharemedia .icon {
        display: flex;
    }

    .share .sharemedia .icon img {
        width: 6%;
        padding: 1%;
    }

    .ourfacilities {
        width: 100%;
        height: 300px;
        /* background-color: #213E99; */
        padding: 3%;
        margin-top: 2%;
        box-shadow: 0 2px 5px #abb9e829;
        border-radius: 5px;
    }

    .ourfacilities a {
        border-radius: 5px;
    }

    .ourfacilities img {
        width: 100%;
        height: 90%;
        /* margin: 3%; */
        border-radius: 5px;
        object-fit: cover;
    }

    .recentnews {
        padding: 3%;
        margin-top: 4%;
        box-shadow: 0 2px 5px #abb9e829;
        border-radius: 5px;
    }

    .recentnews a .boxx {
        width: 100%;
        height: 100px;
        /* background-color: #213E99; */
        /* margin-top: 3%; */
        display: flex;
        justify-content: space-between;
    }

    .recentnews a .imagenews {
        width: 15%;
        height: 100%;
    }
    .recentnews a .text {
        width: 82%;
        height: 100%;
        display: block;
    }
    .recentnews a .imagenews img {
        width: 95%;
        height: 90%;
        object-fit: cover;
        border-radius: 5px;
        margin: 5%;
    }

    .recentnews a {
        text-decoration: none;
    }
    .intro p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 20px;
        color: #213E99;
    }
    .detail pre {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 15px;
        color: rgb(121, 121, 121);
    }
    .followpage{
        width: 50%;
        height: 160px;
        background-color: #213E99;
        margin-top: 10%;
        position: relative;
    }
    .followpage .pageimage{
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .followpage .onpage{
        width: 100%;
        height: 60%;
        position: absolute;
        background-image: linear-gradient(to top,rgba(78, 77, 77, 0),rgba(62, 62, 62, 0.225),rgba(0, 0, 0, 0.917) 100%);
        display: flex;
        padding: 3%;
        color: white;
    }
    .followpage .pageimage img{
        width: 100%;
        height: 100%;
        object-fit:cover;
        position: absolute;
    }
    .onpageimg{
        width: 25%;
        height: 90%;
    }
    .onpageimg img{
        width: 90%;
        height: 100%;
        object-fit: cover;
        border: 2px solid white;
    }
    .onpage .onpagetext{
        margin-left: 2%;
    }
    .onpage .onpagetext h2{
        cursor: pointer;
        font-size: 15px;
    }
    .onpage .onpagetext p{
        font-size: 12px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1300px) {
    
    
    section .telegram {
        margin-top: 435px;
    }
    
    
    
    .header1 .container {
        width: 100%;
        height: 110px;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: space-evenly;
        padding: 10px 60px;
        position: relative;
    }
    .header .container{
        display: none;
    }
    .cont-left {
        width: 306.42px;
        height: 79.69px;
        /* background-color: aqua; */
        display: flex;
        align-items: center;
        color: #213E99;
        font-size: 14px;
        /* font-weight: 600; */
    }

    .cont-left img {
        max-width: 30%;
    }

    span {
        margin-left: 25px;
        display: inline-block;
    }
    .language {
        width: 100%;
        height: 35%;
        display: flex;
        justify-content: end;
        /* background-color: #e9f1f9; */
        /* align-items:start; */
    }

    .language img {
        width: 30px;
        height: 18px;
        margin: 0 5px;
        object-fit: cover;
    }

    .cont-right {
        width: 850px;
        display: block;
        /* background-color: #818181; */
    }

    .navbar {
        display: flex;
        justify-content: end;
        /* background-color: #213E99; */
        /* align-items: end; */
        margin-top: 10px;
    }

    .navbar .home {
        padding: 10px 25px;
        text-decoration: none;
        color: black;
        font-size: 16px;

    }

    .navbar .home:hover {
        background-color: #e9f1f9;
        border-radius: 5px;
        padding: 10px 25px;
    }

    .dropbtn {
        align-items: center;
        justify-content: center;
        display: flex;
        border: none;
        font-size: 16px;
        color: black;
        padding: 10px 15px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }

    .drop {
        width: 100%;
        height: 20px;
        background-color: none;
        position: absolute;
    }

    .dropdown-content a p {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        color: #818181;
        font-size: 13px;
    }


    .book-App {
        border: 1px solid #213d9954;
        border-radius: 5px;
        background-color: white;
        font-size: 14px;
        padding: 10px 20px;
        margin-left: 10px;
    }

    .book-App:hover {
        background-color: #89a3f82e;
        border: 1px solid #89a3f82e;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        padding: 5px;
        margin-top: 3%;
        left: 0%;
        display: none;
        position: absolute;
        background-color: #ffffff;
        min-width: 230px;
        box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        border-radius: 5px;
        border: 1px solid rgba(154, 218, 247, 0.299);
    }

    .dropdown0 {
        left: -70%;
    }

    .dropdown1 {
        left: -180%;
        min-width: 832px;
    }

    .dropdown2 {
        left: -228%;
        min-width: 660px;
    }

    .dropdown-content a {
        color: black;
        font-size: 16px;
        padding: 12px 15px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #a6a5a532;
        /* background-color: red; */
        border-radius: 5px;
        padding: 12px 15px;
        color: rgb(0, 0, 0);
    }

    .dropdown:hover .dropdown-content {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        transition: 0.3s;
        padding: 9%;
    }

    .dropdown:hover .dropdown1 {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        transition: 0.3s;
    }

    .dropdown:hover .dropdown2 {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        transition: 0.3s;
    }

    .dropdown:hover .dropbtn {
        background-color: #e9f1f9;
        border-radius: 5px;
        padding: 10px 15px;
    }
    
    
    
    footer .footer a {
        text-decoration: none;
        color: #ddd;
        padding: 0 30px;
    }
    
    footer .footer {
        width: 100%;
        height: 40px;
        background-color: hsl(226, 65%, 36%);
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom: 0;
    }
    
    .small-device,
    .footer1 {
        display: none;
    }

    section .image {
        width: 100%;
        height: 250px;
        background-color: #213E99;
        position: relative;

    }

    section .image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    section .description {
        position: absolute;
        top: 33%;
        left: 8%;
        font-size: 25px;
        font-weight: 600;
        color: #213E99;
    }

    .ourteam {
        max-width: 1200px;
        height: auto;
        margin: auto;
        /* background-color: #213E99; */
        display: flex;
        justify-content: space-between;
        margin-bottom: 10%;
        margin-top: 5%;
    }

    .whoarewe {
        width: 73%;
        height: 100%;
        /* background-color: aqua; */
    }

    .whoarewe h2 {
        color: #213E99;
    }



    
    .share {
        width: 23%;
        height: 100%;
        /* background-color: #e33434; */
    }

    .share .sharemedia .icon {
        display: flex;
    }

    .share .sharemedia .icon img {
        width: 13%;
        padding: 1%;
    }

    .ourfacilities {
        width: 100%;
        height: 250px;
        /* background-color: #213E99; */
        padding: 3%;
        margin-top: 4%;
        box-shadow: 0 2px 5px #abb9e829;
        border-radius: 5px;
    }

    .ourfacilities a {
        border-radius: 5px;
    }

    .ourfacilities img {
        width: 100%;
        height: 80%;
        /* margin: 3%; */
        border-radius: 5px;
        object-fit: cover;
    }

    .recentnews {
        padding: 3%;
        margin-top: 4%;
        box-shadow: 0 2px 5px #abb9e829;
        border-radius: 5px;
    }

    .recentnews a .boxx {
        width: 100%;
        height: 70px;
        /* background-color: #213E99; */
        margin-top: 3%;
        display: flex;
        justify-content: space-between;
    }

    .recentnews a .imagenews {
        width: 28%;
        height: 100%;
    }
    .recentnews a .text {
        width: 70%;
        height: 100%;
        display: block;
    }
    .recentnews a .imagenews img {
        width: 95%;
        height: 90%;
        object-fit: cover;
        border-radius: 5px;
        margin: 5%;
    }

    .recentnews a {
        text-decoration: none;
    }
    .intro p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
        color: #213E99;
    }
    .detail pre {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 11px;
        color: rgb(114, 114, 114);
    }
    .followpage{
        width: 100%;
        height: 160px;
        background-color: #213E99;
        margin-top: 10%;
        position: relative;
    }
    .followpage .pageimage{
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .followpage .onpage{
        width: 100%;
        height: 40%;
        position: absolute;
        background-image: linear-gradient(to top,rgba(78, 77, 77, 0),rgba(62, 62, 62, 0.225),rgba(0, 0, 0, 0.917) 100%);
        display: flex;
        padding: 3%;
        color: white;
    }
    .followpage .pageimage img{
        width: 100%;
        height: 100%;
        object-fit:cover;
        position: absolute;
    }
    .onpageimg{
        width: 25%;
        height: 90%;
    }
    .onpageimg img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 2px solid white;
    }
    .onpage .onpagetext{
        margin-left: 2%;
    }
    .onpage .onpagetext h2{
        cursor: pointer;
        font-size: 15px;
    }
    .onpage .onpagetext p{
        font-size: 12px;
    }
}