@import url('https://fonts.googleapis.com/css2?family=Siemreap&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Siemreap&display=swap');

* {
    box-sizing: border-box;
    font-family: "Siemreap", sans-serif;
    margin: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    background-image: url(./image/rtdc-small.webp);
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center bottom;
    /* background-attachment: fixed; */
}

.main-box{
    width: 100%;
    height: 530px;
    /* background-color: rgb(240, 148, 148); */
    position: relative;
}
.client-test{
    width: 100%;
    height: 530px;
    /* background-color: #eeeeee; */
    position: absolute;
}
.slide{
    width: 27%;
    height: 85%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: 0;
    margin: 3%;
    overflow-y: auto;
    border-radius: 8px;
    display: block;
    /* justify-content: space-between; */
    padding: 1.5%;
    margin-top: 10%;
}
.slide .top{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
}
.slide .color{
    font-weight: 500;
    color: #213e99;
}
.slide .top .client {
    width: 80%;
    height: 20px;
    display: flex;
    align-items: center;
}
.slide .top .icon{
    width: 12%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slide .top .icon i{
    /* margin: 15%; */
    font-size: 20px;
}
.client-slide{
    width: 100%;
    height: 180px;
    /* background-color: #213e99; */
    display: block;
    justify-content: center;
    text-align: center;
}
.client-slide .image-client img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    padding: 4%;
}
.client-result{
    width: 100%;
    height: auto;
    /* background-color: #213e99; */
    display: block;
}
.client-result .text{
    width: 100%;
    height: 30px;
}
.client-result .result-list{
    width: 100%;
    height: auto;
}
.client-result .result-list .surgery{
    width: 100%;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(192, 192, 192, 0.785);
    /* background-color: #818181; */
}
.client-result .result-list .surgery img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 5%;
}
.client-result .result-list .surgery .detail-text{
    padding-left: 15px;
}
.client-result .result-list .surgery .detail-text h4{
    font-size: 15px;
}
.client-result .result-list .surgery .detail-text p{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: black;
    font-size: 12px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
    .cont-right {
        display: none;
    }
    .main-box{
        display: none;
    }

    .header1 .container {
        padding: 10px 15px;
        display: none;
        align-items: center;
        background-color: white;
    }

    .header {
        /* position: absolute; */
        width: 100%;
        left: 0;
        top: 0;
        z-index: 99;
        /* padding: 5px; */
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    a {  
        text-decoration: none;
    }
    .header-main {
        background-color: #ffffff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-radius: 4px;
    }
    .header .logo a {
        font-size: 30px;
        text-transform: capitalize;
        color: #e91e63;
    }
    .header .logo{
        width: 100%;
        /* height: 100px; */
        display: flex;
        align-items: center;
    }
    .header .logo img{
        width: 23%;
        margin-right: 2%;
    }
    .header .logo .name{
        color: #213E99;
        font-weight: bolder;
    }
    .header .nav-menu {
        padding: 0 20px;
    }
    .header .menu{
        border: 1px solid rgba(176, 178, 181, 0.2);
        border-radius: 10px;
        background-color:rgba(226, 235, 243, 0.192);
        margin: 15px;
        padding: 5px;
        
    }
    .header .menu>.menu-item {
        display: inline-block;
        margin-left: 30px;
        position: relative;
    }
    
    .header .menu>.menu-item>a {
        display: block;
        padding: 6px 15px;
        font-size: 16px;
        color: #000000;
        text-transform: capitalize;
        transition: all 0.3s ease;
    }
    
    .header .menu>.menu-item>a .fa-angle-down {
        display: inline-block;
        height: 12px;
        width: 12px;
        position: relative;
        margin-left: 5px;
        pointer-events: none;
    }
    .header .menu>.menu-item>a .fa-angle-down:after {
        transform: translate(-50%, -50%) rotate(-90deg);
    }
    
    .header .menu>.menu-item>.sub-menu>.menu-item>a:hover{
        /* color: blue; */
        background-color: #ced6e1a6;
        border-radius: 5px;
        /* margin: 0 10px; */
    
    }
    .header .menu>.menu-item:hover>a {
        color: #213E99;
    }
    
    .header .menu>.menu-item>.sub-menu {
        transform: translateY(10px);
        transition: all 0.3s ease;
    }
    
    .header .menu>.menu-item>.sub-menu>.menu-item {
        display: block;
    }
    .header .menu>.menu-item>.sub-menu>.menu-item>a {
        display: block;
        padding: 3px ;
        font-size: 16px;
        color: #000000;
        transition: all 0.3s ease;
        text-transform: capitalize;
    }
    
    .header .open-nav-menu {
        height: 30px;
        width: 30px;
        display: none;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    
    .header .open-nav-menu span {
        display: block;
        height: 3px;
        width: 24px;
        background-color: #000000;
        position: relative;
    }
    
    .header .open-nav-menu span:before,
    .header .open-nav-menu span:after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000000;
        box-sizing: border-box;
    }
    
    .header .open-nav-menu span:before {
        top: -8px;
    }
    
    .header .open-nav-menu span:after {
        top: 8px;
    }
    
    .header .close-nav-menu {
        height: 100px;
        width: 100%;
        cursor: pointer;
        display: block;
    }
    .header .close-icon{
        width: 90%;
        height: 20%;
        display: block;
        text-align: end;
    }
    .header .close-icon i:hover{
        color: #213E99;
    }
    .header .close-nav-menu .img{
        width: 100%;
        height: 80%;
        /* background-color: #818181; */
        display: block;
        text-align: center;
    }
    .header .close-nav-menu .img img{
        width: 25%;
    }

    .header .close-nav-menu i{
        font-size: 30px;
        color: #5073e3;
    }
    .header .close-nav-menu img{
        width: 20px;
        margin-top: 100;
    }
    .header .menu-overlay {
        position: fixed;
        z-index: 999;
        background-color: rgba(188, 188, 188, 0.334);
        backdrop-filter: blur(3px);
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s ease;
    }
    
    .book-App {
        border: 1px solid #7895f554;
        border-radius: 5px;
        background-color: #213E99;
        color: white;
        font-size: 16px;
        padding: 2%;
        width: 90%;
        margin: 0 5%;
        cursor: pointer;
    }
    .nav-menu .language {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        margin-top: 3%;
    }
    
    .nav-menu .language img {
        width: 30px;
        height: 18px;
        margin: 0 5px;
        object-fit: cover;
    }
    /* responsive */
    
    
        .header .menu-overlay.active {
            visibility: visible;
            opacity: 1;
        }
    
        .header .nav-menu {
            position: fixed;
            right: -380px;
            visibility: hidden;
            min-width: 330px;
            height: 100%;
            top: 0;
            overflow-y: auto;
            background-color: #ffffff;
            z-index: 1000;
            padding: 15px 0;
            transition: all 0.5s ease;
        }
        .header .nav-menu.open {
            visibility: visible;
            right: 0px;
        }
        .header .menu>.menu-item {
            display: block;
            margin: 0;
        }
        .header .menu>.menu-item-has-children>a {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    
        .header .menu>.menu-item>a {
            color: #000000;
        }
        .header .menu>.menu-item-has-children.active>a .plus:after {
            transform: translate(-50%, -50%) rotate(0deg);
        }
        .header .menu>.menu-item>.sub-menu {
            width: 100%;
            position: relative;
            opacity: 1;
            visibility: visible;
            border: none;
            box-shadow: none;
            transform: translateY(0px);
            padding: 0px;
            left: auto;
            top: auto;
            max-height: 0;
            overflow: hidden;
            background-color: rgb(255, 255, 255);
            border-radius: 5px;
        }
    
        .header .menu>.menu-item>.sub-menu>.menu-item>a {
            /* padding: 10px; */
            color: #000000;
            margin: 4px 15px;
            padding: 5px 15px;
            /* border-radius: 5px; */
            /* border-bottom: 1px solid #333333; */
        }
        .header .menu>.menu-item>.sub-menu>:hover.menu-item> a{
            background-color: #b4b4b447;
        }
        .header .open-nav-menu {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }

    
    section .telegram {
        margin-top: 270px;
    }
    .footer{
        display: none;
    }
    footer .footer1 a {
        text-decoration: none;
        color: #ddd;
        /* padding: 0 30px; */
        font-size: 13px;
    }
    
    footer .footer1 {
        width: 100%;
        height: 40px;
        background-color: hsl(226, 65%, 36%);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position: fixed;
        bottom: 0;
    }

}
@media only screen and (min-width: 768px) {
    .main-box{
        display: none;
    }
    section .telegram {
        margin-top: 390px;
    }
    .header{
        display: none;
    }
    header .container {
        width: 100%;
        height:  188.69px;
        background-color: rgb(255, 255, 255);
        display: block;
        justify-content: space-evenly;
        padding: 10px 60px;
        position: absolute;
        z-index: 1;
    }
    
    header .cont-left {
        width: 306.42px;
        height: 79.69px;
        /* background-color: aqua; */
        display: flex;
        align-items: center;
        color: #213E99;
        font-size: 14px;
        font-weight: 600;
    }
    header .cont-left img {
        max-width: 30%;
    }
    
    header span {
        margin-left: 25px;
        display: inline-block;
       
    }
    
    header .cont-right {
        width: 100%;
        font-size: 10px;
        height: 90px;
        /* background-color: blueviolet; */
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
    }
    .language {
        width: 100%;
        height: 35%;
        display:flex;
        justify-content: end;
        align-items: center;
    }
    
    .language img {
        width: 30px;
        height: 18px;
        margin: 0 5px;
        object-fit: cover;
    }
    
    .navbar {
        /* position: relative; */
        overflow: hidden;
        /* background-color: #e19a9a; */
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* margin: 20px 0; */
    }
    
    .navbar a {
        float: left;
        /* text-align: center; */
        font-size: 15px;
        color: black;
        text-decoration: none;
        padding: 5px 10px;
    }
    .subnav {
        float: left;
        overflow: hidden;
        height: 70%;
        /* background-color: #213E99; */
        
    }
    .subnav li{
        cursor: pointer;
        list-style: none;
        padding: 15px;
        /* width: 200px; */
        height: 100%;
    }
    
    .subnav .subnavbtn {
        align-items: center;
        justify-content: center;
        display: flex;
        font-size: 15px;
        border: none;
        outline: none;
        color: black;
        /* padding: 5px 50px; */
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }
    .navbar a:hover,
    .subnav:hover .subnavbtn {
        background-color: #e9f1f9;
        border-radius: 5px;
        /* padding: 10px 15px; */
    }
    
    .subnav-content {
        display: none;
        position: absolute;
        left: 5%;
        margin-top: 7px;
        background-color: white;
        max-width:55%;
        z-index: 1;
        border-radius: 5px;
        border: 1px solid #7071735f;
        padding: 10px;
        box-shadow: 0px 3px 3px 3px #b1b1b147;
    }
    .big-subnav-content{
        width: 9%;
        height: 19%;
        background-color: none;
        position: absolute;
    }
    .subnav-content a {
        float: left;
        color: black;
        text-decoration: none;
        padding: 10px;
    }
    .subnav-content a p{
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        color: #818181;
        font-size: 13px;
    }
    .subnav-content a:hover {
        background-color: #eee;
        color: black;
        border-radius: 5px;
    }
    .subnav:hover #service {
        display: grid;
        grid-template-columns: repeat(3,minmax(0,1fr));
        transition: 0.3s;
    }
    
    .subnav:hover #about {
        display: grid;
        grid-template-columns: repeat(1,minmax(0,1fr));
        transition: 0.3s;
    }
    
    .subnav:hover #technology {
        display: grid;
        grid-template-columns: repeat(2,minmax(0,1fr));
        transition: 0.3s;
    }
    
    .book-App {
        border: 1px solid #213d9954;  
        border-radius: 5px;
        background-color: white;
        font-size: 15px;
        padding: 5px 5px;
        margin: 0;
    }
    
    .book-App:hover {
        background-color: #89a3f82e;
        border: 1px solid #89a3f82e;
    }
    footer .footer a {
        text-decoration: none;
        color: #ddd;
        padding: 0 30px;
    }
    
    footer .footer {
        width: 100%;
        height: 40px;
        background-color: hsl(226, 65%, 36%);
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom: 0;
    }
    
    footer .footer {
        display: none;
    }
    
    .small-device,
    .footer1 {
        display: none;
    }


}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1200px) {
    .main-box{
        display: block;
    }
    header .container {
        width: 100%;
        height: 110px;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: space-evenly;
        padding: 10px 60px;
        position: absolute;
        z-index: 1;
    }
    section .telegram {
        margin-top: 560px;
    }
    header .cont-left {
        width: 306.42px;
        height: 79.69px;
        /* background-color: aqua; */
        display: flex;
        align-items: center;
        color: #213E99;
        font-size: 14px;
        font-weight: 600;
    }
    header .cont-left img {
        max-width: 30%;
    }
    
    header span {
        margin-left: 25px;
        display: inline-block;
       
    }
    
    header .cont-right {
        width: 850px;
        height: 90px;
        /* background-color: blueviolet; */
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
    }
    .language {
        width: 100%;
        height: 35%;
        display:flex;
        justify-content: end;
        align-items: center;
    }
    
    .language img {
        width: 30px;
        height: 18px;
        margin: 0 5px;
        object-fit: cover;
    }
    
    .navbar {
        /* position: relative; */
        overflow: hidden;
        /* background-color: #e19a9a; */
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: right;
        /* margin: 20px 0; */
    }
    
    .navbar a {
        float: left;
        /* text-align: center; */
        font-size: 15px;
        font-weight: 500;
        color: black;
        text-decoration: none;
        padding: 5px 25px;
        border: 1px solid #e9f1f900;
    }
    .subnav {
        float: left;
        overflow: hidden;
        height: 70%;
        border: 1px solid #e9f1f900;
        /* background-color: #213E99; */
        
    }
    .subnav li{
        /* cursor: pointer; */
        list-style: none;
        margin: 15px;
        /* width: 200px; */
        height: 100%;
        background-color: rgb(204, 132, 24);
    }
    
    .subnav .subnavbtn {
        align-items: center;
        justify-content: center;
        display: flex;
        font-size: 15px;
        border: none;
        /* outline: none; */
        color: black;
        margin: 15px 0px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
        border: 1px solid #e9f1f900;
    }
    .navbar a:hover,
    .subnav:hover .subnavbtn {
        background-color: #e9f1f9;
        border-radius: 5px;
        border: 1px solid #e9f1f9;
        /* padding: 10px 15px; */
    }
    
    .subnav-content {
        display: none;
        position: absolute;
        left: 35%;
        margin-top: 1%;
        background-color: white;
        max-width:55%;
        z-index: 1;
        border-radius: 5px;
        border: 1px solid #7071735f;
        padding: 10px;
        box-shadow: 0px 3px 3px 3px #b1b1b147;
    }
    .big-subnav-content{
        width: 9%;
        height: 19%;
        background-color: none;
        position: absolute;
    }
    
    .subnav-content a {
        float: left;
        color: black;
        text-decoration: none;
        padding: 10px;
    }
    .subnav-content a p{
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        color: #818181;
        font-size: 13px;
    }
    .subnav-content a:hover {
        background-color: #eee;
        color: black;
        border-radius: 5px;
    }
    .subnav:hover #service {
        display: grid;
        grid-template-columns: repeat(3,minmax(0,1fr));
        transition: 0.3s;
    }
    
    .subnav:hover #about {
        display: grid;
        grid-template-columns: repeat(1,minmax(0,1fr));
        transition: 0.3s;
    }
    
    .subnav:hover #technology {
        display: grid;
        grid-template-columns: repeat(2,minmax(0,1fr));
        transition: 0.3s;
    }
    
    .book-App {
        border: 1px solid #213d9954;  
        border-radius: 5px;
        background-color: white;
        font-size: 15px;
        padding: 5px 25px;
        margin-left: 1%;
    }
    
    .book-App:hover {
        background-color: #89a3f82e;
        border: 1px solid #89a3f82e;
    }
    footer .footer a {
        text-decoration: none;
        color: #ddd;
        padding: 0 30px;
    }
    
    footer .footer {
        width: 100%;
        height: 40px;
        background-color: hsl(226, 65%, 36%);
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom: 0;
    }
    .footer1 {
        display: none;
    }
}