@import url('https://fonts.googleapis.com/css2?family=Siemreap&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Siemreap&display=swap');

* {
    box-sizing: border-box;
    font-family: "Siemreap", sans-serif;
    margin: 0;
}

body {
    background-image: url(./image/rtdc-small.webp);
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position-y: bottom;
    background-attachment: fixed;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
    .cont-right {
        display: none;
    }

    .small-device {
        display: block;
    }

    .container {
        padding: 10px 15px;
        display: flex;
        align-items: center;
        background-color: white;
    }
   

    header .cont-left {
        width: 100%;
        /* background-color: aqua; */
        display: flex;
        align-items: center;
    }

    header .cont-left img {
        width: 25%;
    }

    header span {
        margin-left: 25px;
        display: inline-block;
        color: #213E99;
        font-size: 15px;
        font-weight: 600;
    }

    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.993);
        overflow-x: hidden;
        transition: 0.5s;
    }

    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 15px;
        color: #818181;
        /* display: block; */
        transition: 0.3s;
    }
    .overlay .closebtn {
        position: absolute;
        top: 5px;
        right: 20px;
        font-size: 40px;
    }
    .overlay .navbar {
        overflow: hidden;
        background-color: #ebebeb;
        width: 90%;
        margin: 5%;
        display: grid;
        border: 2px solid #8080803d;
        border-radius: 5px;

    }
    .overlay img{
        width: 25%;
        margin: 5% 0 0 25%;
    }
    .overlay .navbar a {
        float: left;
        font-size: 16px;
        color: black;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    .overlay .subnav {
        float: left;
        overflow: hidden;
    }
    
    .overlay .subnav .subnavbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: black;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
        /* display: grid; */
    }
    
    .navbar a:hover,
    .subnav:hover .subnavbtn {
        background-color: #ddddddd0;
        border-radius: 5px;
        width: 100%;
        text-align: left;
    }
    
    .subnav-content {
        display: none;
        position: absolute;
        /* left: 45%; */
        background-color: white;
        min-width: 50%;
        z-index: 1;
        border-radius: 5px;
        border: 1px solid #7071735f;
    }
    
    .subnav-content a {
        float: left;
        color: black;
        text-decoration: none;
    }
    
    .subnav-content a:hover {
        background-color: #eee;
        color: black;
        border-radius: 5px;
    }
/*     
    .subnav:hover #service {
        display: grid;
        grid-template-columns: auto ;
    }
    
    .subnav:hover #about {
        display: grid;
        grid-template-columns: auto;
    }
    
    .subnav:hover #technology {
        display: grid;
        grid-template-columns: auto ;
    } */
    
    .book-App {
        border: 1px solid #7895f554;
        border-radius: 5px;
        background-color: #213E99;
        color: white;
        font-size: 16px;
        padding: 2%;
        width: 90%;
        margin: 0 5%;
        cursor: pointer;
    }
    .small-device .language {
        width: 100%;
        height: 35%;
        display: flex;
        justify-content: center;
        margin-top: 3%;
    }
    
    .small-device .language img {
        width: 30px;
        height: 18px;
        margin: 0 5px;
        object-fit: cover;
    }
    .footer{
        display: none;
    }
    footer .footer1 a {
        text-decoration: none;
        color: #ddd;
        /* padding: 0 30px; */
        font-size: 13px;
    }
    
    footer .footer1 {
        width: 100%;
        height: 40px;
        background-color: hsl(226, 65%, 36%);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position: fixed;
        bottom: 0;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (max-width: 1000px) 
{
    .navbar a {
        font-size: 10px;
    }
    .subnav .subnavbtn{
        font-size: 10px;
    }
} */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container {
        padding: 10px 60px;
    }
    header .container {
        width: 100%;
        height: 190px;
        background-color: white;
        display: block;
        justify-content: space-between;
        padding-left: 8%;
    }
    
    header .cont-left {
        width: 100%;
        /* background-color: aqua; */
        display: flex;
        align-items: center;
    }
    
    header .cont-left img {
        width: 10%;
    }
    
    header span {
        margin-left: 25px;
        display: inline-block;
        color: #213E99;
        font-size: 16px;
        font-weight: 600;
    }
    
    header .cont-right {
        width: 99%;
        /* background-color: blueviolet; */
    }
    
    .language {
        width: 100%;
        height: 35%;
        display: flex;
        justify-content: end;
    }
    
    .language img {
        width: 30px;
        height: 18px;
        margin: 5px;
        object-fit: cover;
    }
    
    .navbar {
        overflow: hidden;
        /* background-color: #333; */
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    .navbar a {
        float: left;
        font-size: 13px;
        color: black;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    .subnav {
        float: left;
        overflow: hidden;
    }
    
    .subnav .subnavbtn {
        font-size: 13px;
        border: none;
        outline: none;
        color: black;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }
    
    .navbar a:hover,
    .subnav:hover .subnavbtn {
        background-color: #eee;
        border-radius: 5px;
    }
    
    .subnav-content {
        display: none;
        position: absolute;
        left: 8%;
        background-color: white;
        min-width: 50%;
        z-index: 1;
        border-radius: 5px;
        border: 1px solid #7071735f;
    }
    
    .subnav-content a {
        float: left;
        color: black;
        text-decoration: none;
    }
    
    .subnav-content a:hover {
        background-color: #eee;
        color: black;
        border-radius: 5px;
    }
    
    .subnav:hover #service {
        display: grid;
        grid-template-columns: auto auto auto;
        transition: 0.3s;
    }
    
    .subnav:hover #about {
        display: grid;
        grid-template-columns: auto;
        transition: 0.3s;
    }
    
    .subnav:hover #technology {
        display: grid;
        grid-template-columns: auto auto;
        transition: 0.3s;
    }
    
    .book-App {
        border: 1px solid #213d9954;
        border-radius: 5px;
        background-color: white;
        font-size: 16px;
    }
    
    .book-App:hover {
        background-color: #89a3f82e;
        border: 1px solid #89a3f82e;
    }
    
    
    footer .footer {
        display: none;
    }
    
    .small-device,
    .footer1 {
        display: none;
    }


}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1200px) {
    .container {
        padding: 10px 60px;
    }
    header .container {
        width: 100%;
        height: 100px;
        background-color: white;
        display: flex;
        justify-content: space-between;
    
    }
    
    header .cont-left {
        width: 30%;
        /* background-color: aqua; */
        display: flex;
        align-items: center;
    }
    
    header .cont-left img {
        width: 25%;
    }
    
    header span {
        margin-left: 25px;
        display: inline-block;
        color: #213E99;
        font-size: 16px;
        font-weight: 600;
    }
    
    header .cont-right {
        width: 65%;
        /* background-color: blueviolet; */
    }
    
    .language {
        width: 100%;
        height: 35%;
        display: flex;
        justify-content: end;
    }
    
    .language img {
        width: 30px;
        height: 18px;
        margin: 0 5px;
        object-fit: cover;
    }
    
    .navbar {
        overflow: hidden;
        /* background-color: #333; */
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    .navbar a {
        float: left;
        font-size: 16px;
        color: black;
        padding: 14px ;
        text-decoration: none;
    }
    
    .subnav {
        float: left;
        overflow: hidden;
    }
    
    .subnav .subnavbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: black;
        padding: 14px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }
    
    .navbar a:hover,
    .subnav:hover .subnavbtn {
        background-color: #eee;
        border-radius: 5px;
    }
    
    .subnav-content {
        display: none;
        position: absolute;
        left: 38%;
        background-color: white;
        min-width: 50%;
        z-index: 1;
        border-radius: 5px;
        border: 1px solid #7071735f;
    }
    
    .subnav-content a {
        float: left;
        color: black;
        text-decoration: none;
    }
    
    .subnav-content a:hover {
        background-color: #eee;
        color: black;
        border-radius: 5px;
    }
    
    .subnav:hover #service {
        display: grid;
        grid-template-columns: auto auto auto;
        transition: 0.3s;
    }
    
    .subnav:hover #about {
        display: grid;
        grid-template-columns: auto;
        transition: 0.3s;
    }
    
    .subnav:hover #technology {
        display: grid;
        grid-template-columns: auto auto;
        transition: 0.3s;
    }
    
    .book-App {
        border: 1px solid #213d9954;
        border-radius: 5px;
        background-color: white;
        font-size: 13px;
    }
    
    .book-App:hover {
        background-color: #89a3f82e;
        border: 1px solid #89a3f82e;
    }
    
    
    footer .footer a {
        text-decoration: none;
        color: #ddd;
        padding: 0 30px;
    }
    
    footer .footer {
        width: 100%;
        height: 40px;
        background-color: hsl(226, 65%, 36%);
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom: 0;
    }
    
    .small-device,
    .footer1 {
        display: none;
    }
}

